body {
    padding: 15px;
}

.lp5 {
    padding-left: 5px;
}

.btn_main{
    padding: 7px 13px;
    border-radius: 20px;
    border: 1px solid #DFE1E5;
    cursor: pointer;
    background-color: white;
}
button.btn_main:hover{
    background-color: #f0f0f0;
}
.alItCen{
    align-items: center;
}
div.pt20{
    padding-top: 20px;
}
.tabR{
    border: 1px solid #ebebeb;
    border-right: 0;
    border-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.tabRFirst{
    font-weight: 700;
}
.tabCSV{
    max-height: 500px;
    overflow: auto;
    border: 1px solid silver;
}

.wd100{
    width: 100%;
}
.padLR10{
    padding-left: 10px;
    padding-right: 10px;
}
.pdl10{
    padding-left: 10px;
}
.padD15{
    padding-bottom: 15px;
}
.padU30{
    padding-top: 30px;
}