{% load static %}
<div class="row marT20 wid100">
    <div class="col-12"><h5>Select ML algorithm</h5></div>
    <div class="col-12">
        <select id="ML_alg">
            <option>Line Regression</option>
            <option>Logic Regression</option>
        </select>
    </div>
</div>
<div class="row wd100">
    <div class="col-12 marT20 "><h4>Line Regression</h4></div>
    <div class="col-6">
        <img src="media/{{ graph1 }}" alt="My image">
    </div>
    <div class="col-6">
        <img src="media/{{ graph2 }}" alt="My image">
    </div>
</div>
<div class="row wd100">
    <div class="col-4 offset-4">
        <h5>Predict for new input value: {{ pred1 }}</h5>
    </div>
</div>

<form method="post" name="actual_value">
{% csrf_token %}
    <div class="row marT20 wid100">
        <div class="col-12"><h5>selection of model QA metrics</h5></div>
        <div class="col-2">
            <select id="ML_QA" class="wid100" onchange="selected()">
                <option>MSE (Root mean square error)</option>
                <option>MRSE (Standard error)</option>
            </select>
        </div>
        <div class="col-3">
            <input id="actual_value" placeholder="Input new actual value" name="actual_value" class="wid100">
            <input name="expected_value" type="hidden" value="{{ pred1 }}">
        </div>
        <div class="col-3">
            <button class="btn_main wd100" type="submit">Посчитать погрешность</button>
        </div>
    </div>
</form>
<div class="row marT20 wid100">
    <div class="col-12"><h5>fault</h5></div>
    <div class="col-2" id="elem1">{{ mse_value }}</div>
    <div class="col-2 " id="elem2">{{ mrse_value }}</div>
</div>