<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if page == "dataset" %}
            Main, dataset
        {% endif %}
    </title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <div class="row alItCen">
            <div class="col-5">
                <div class="row">
                    Файл:
                    <div id="nameFile" class="lp5">{{ uploaded_file_url }}</div>
                </div>

            </div>
            <div class="col-5">
                <div class="row">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="my_file">
                        <button class="btn_main" type="submit">Загрузить csv-файл</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row pt20">
            <div class="col-8 tabCSV">
                <div class="row tabR tabRFirst">
                    <div class="col-1">id</div>
                    <div class="col-3">Country</div>
                    <div class="col-3">Happines Level</div>
                    <div class="col-3">Beer PerCapita</div>
                </div>
                {% for country, hap, beer_per_capita in my_list %}
                <div class="row tabR ">
                    <div class="col-1">{{ forloop.counter0 }}</div>
                    <div class="col-3">{{ country }}</div>
                    <div class="col-3">{{ hap }}</div>
                    <div class="col-3">{{ beer_per_capita }}</div>
                </div>
                {% endfor %}
            </div>
            <div class="col-3">
                <form method="post" name="edit_table">
                {% csrf_token %}
                    <input hidden value="{{ uploaded_file_url }}" name="filename">
                    <div class="row padLR10 padD15">
                        <input type="text" class="wd100 pdl10" name="id_edit" placeholder="Input id for edit">
                    </div>
                    <div class="row padLR10 padD15">
                        <input type="text" class="wd100 pdl10" name="country_edit" placeholder="Inout Country name">
                    </div>
                    <div class="row padLR10 padD15">
                        <input type="text" class="wd100 pdl10" name="Happy_edit" placeholder="Inout Happines level">
                    </div>
                    <div class="row padLR10 padD15">
                        <input type="text" class="wd100 pdl10" name="Beer_edit" placeholder="Inout Beer Per Capita">
                    </div>
                    <div class="row padLR10">
                        <button class="btn_main wd100" type="submit">Изменить запись</button>
                    </div>
                </form>

                    <form method="post" name="sort_list">
                    {% csrf_token %}
                        <input hidden value="{{ uploaded_file_url }}" name="sort">
                        <div class="row padLR10 padU30">
                            <button class="btn_main wd100" type="submit">Сортировать по странам</button>
                        </div>
                    </form>

            </div>
        </div>

    </div>
</body>
</html>
