<div class="col-12 marT20 padL0"><h4>Summary statistics</h4></div>
<div class="col-8 tabCSV marT20">
    <div class="row tabR tabRFirst">
        <div class="col-4">Country
            <div class="tabSecond">{{ count_counrt }} count</div>
        </div>
        <div class="col-4">Min Happines Level
            <div class="tabSecond">{{ min_HL }}</div>
        </div>
        <div class="col-4">Max Happines Level
            <div class="tabSecond">{{ max_HL }}</div>
        </div>
    </div>
    <div class="row tabR tabRFirst">
        <div class="col-4">AVG Happines Level
            <div class="tabSecond">{{ avg_HL }}</div>
        </div>
        <div class="col-4">Min Beer PerCapita
            <div class="tabSecond">{{ min_Beer }}</div>
        </div>
        <div class="col-4">Max Beer PerCapita
            <div class="tabSecond">{{ max_Beer }}</div>
        </div>
    </div>
    <div class="row tabR tabRFirst">
        <div class="col-4">AVG Beer PerCapita
            <div class="tabSecond">{{ avg_Beer }}</div>
        </div>
    </div>
</div>